.App {
  display: flex;
  height: 100%;
  background: #102541;
}

.App__header {
  margin: none;
  background:  #0b1f3a;
  width: 100%;
  height: 10vh;
  padding-left: 16px;
}

.App__main {
  height: 100%;
  width: 78vw;

}
.column__wrapper {
  display: flex;
  flex-direction: column;
}